body{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    background-image: url(background.png);
    background-size: cover;
}
.frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(4, 33, 66);
    border: 2px solid whitesmoke;
    width: 340px;
    height: 510px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
    padding: 20px;
}
.forminput {
    font-size: 30px;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    height: 100px;
    width: 100%;
    background-color: rgb(2, 14, 29);
    margin-bottom: 5px;
}
.Operation{
    margin: 1px 11px;
}
button {
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.number {
    margin: 1px;
    padding: 30px 33px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 700;
    background-color: rgb(153, 147, 147);
}
.number:hover{
    background-color: rgb(189, 179, 179);
    color: whitesmoke;
}
.tanda{
    margin-top: 5px;
    padding: 30px 33px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    background-color: rgb(25, 162, 241);
}
.tanda:hover{
    background-color: rgb(78, 180, 240);
    color: whitesmoke;
}
.delete{
    margin-top: 5px;
    padding: 30px 33px;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 700;
    background-color: rgb(255, 209, 4);
}
.hasil{
    margin-top: 5px;
    padding: 30px 33px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 700;
    background-color: rgb(74, 249, 255);
}
.hasil:hover{
    background-color: rgb(30, 187, 192);
}
@media screen and (max-width: 480px) {
    body{
        min-height: 100vh;
    }
    .frame {
        width: 90%;
        height: auto;
    }
    .Operation {
        gap: 5px;
    }
    button {
        padding: 10px;
        font-size: 16px;
    }
}